@font-face {
  font-family: 'Gilroy';
  src: url('fonts/gilroylight.woff2') format('woff2'),
  url('fonts/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/gilroyextrabold.woff2') format('woff2'),
  url('fonts/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'OpenSans', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #464646;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.slide-header,
.info-header,
.page-title {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 47px;
  color: #000000;
  line-height: 50px;
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
  color: #000000;
}

.main-header {
  background-color: #f7e296;
}

.catalog-nav,
.site-nav {
  text-transform: uppercase;
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 3.6px;
}

.catalog-nav,
.site-nav,
.catalog-nav-sub-menu,
.user-block {
  list-style: none;
}

.main-header .header-logo:hover,
.main-header a:hover {
  opacity: 0.6;
}

.main-header .header-logo:active,
.main-header a:active {
  opacity: 0.3;
}

.catalog-nav-sub-menu {
  font-family: 'OpenSans', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  background-color: inherit;
  text-transform: none;
  letter-spacing: initial;
}

/*ссылки и кнопки не знаю как стизизовать по стайл гайду, нужна помощь*/

.slide-more a {
  text-transform: uppercase;
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 3.6px;
  background-color: #f0c52e;
  background-size: 160px 8px;
  text-align: center;
  display: block;
}

.slide-more a:hover {
  height: 40px;
}

.slide-more a:active {
  height: 40px;
  color: rgba(0, 0, 0, 0.3);
}

.number-slide {
  width: 166px;
  height: 131px;
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 179.2px;
  letter-spacing: 1.8px;
  color: #ffffff;
  background-color: #f7e296;
}

.slide-features-value {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 36px;
  color: #000000;
  letter-spacing: 0.4px;
}

.slide-features-type {
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  letter-spacing: 0.1px;
}

.popular-item {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 20px;
  color: #000;
}

.pop {
  position: relative;
  display: block;
  width: 160px;
  padding-top: 195px;
  margin: 20px;
}

.pop1::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
  background: url("../img/popular-1.svg") no-repeat 50% 50%;
  background-size: 97px 55px;
  z-index: 10;
}

.pop::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
  opacity: 0.5;
  background-color: #f0c52e;
  z-index: 0;
}

.pop:active::before {
  background-color: #f0c52e;
}

.pop:hover::after {
  background-color: #f0c52e;
}

.pop2::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
  background: url("../img/popular-2.svg") no-repeat 50% 100%;
  background-size: 86px 117px;
  z-index: 10;
}

.pop3::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
  background: url("../img/popular-3.svg") no-repeat 50% 50%;
  background-size: 71px 87px;
  z-index: 10;
}

.pop4::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
  background: url("../img/popular-4.svg") no-repeat 50% 50%;
  background-size: 107px 65px;
  z-index: 10;
}

.pop5::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
  background: url("../img/popular-5.svg") no-repeat 50% 50%;
  background-size: 56px 98px;
  z-index: 10;
}

.pop6::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
  background: url("../img/popular-6.svg") no-repeat 50% 50%;
  background-size: 132px 69px;
  z-index: 10;
}


.services-slider {
  background-color: #e5e5e5;
}

.brands-list {
  list-style: none;
}

.about-us li {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  list-style-type: circle;
}

/* Страница каталога*/

.breadcrumbs {
  list-style: none;
}

.breadcrumbs li,
.breadcrumbs a {
  font-family: 'OpenSans', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.3);
  display: inline-block;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.3;
}

/* Фильтры каталога */

.filters {
  background-color: #dbdbdb;
}

.filter {
  background-color: #eeeeee;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.filter ul {
  list-style: none;
  font-family: 'OpenSans', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  color: #000000;
}

/*верхний блок сортировки */

.sort-items {
  background-color: #eeeeee;
}

.sort-items-title,
.filters-title,
.pagination-item {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

/*карточки товаров*/

.catalog-item {
  background-color: #eeeeee;
}

.catalog-item a {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

span.catalog-item {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
}

/*пагинация*/

.pagination-list {
  background-color: #eeeeee;
  list-style: none;
}

.pagination-item-active a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-active a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item-active a:active {
  color: #000000;
}

/* Подвал */

.main-footer,
.main-footer a {
  background-color: #464646;
  font-family: 'OpenSans', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}

.main-footer ul {
  list-style: none;
}

.user-block {
  line-height: 36px;
  letter-spacing: 0.2px;
}

.footer-services {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.main-footer .footer-logo:hover,
.main-footer .copyright-logo:hover {
  opacity: 0.8;
}

.main-footer .footer-logo:active,
.main-footer .copyright-logo:active {
  opacity: 0.6;
}

.write-us {
  font-family: 'OpenSans', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #464646;
}

.write-us label {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #000;
  display: block;
  margin-bottom: 13px;
}

.write-us input,
.write-us textarea {
  background-color: #f2f2f2;
  border: none;
  outline: none;
  padding-left: 19px;
}

.write-us input {
  width: 360px;
  height: 50px;
}

.write-us textarea {
  width: 760px;
  height: 156px;
  padding-top: 18px;
}

.write-us input:hover,
.write-us textarea:hover {
  background-color: #ebebeb;
}

.write-us input:focus,
.write-us textarea:focus {
  background-color: #ffffff;
  border: 3px solid #f7e296;
  color: #000000;
}

.write-us input:invalid,
.write-us textarea:invalid {
  background-color: #f6dada;
  border: none;
  color: #464646;
}


/*сетка*/

body {
  max-width: 1160px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  margin-bottom: 50px;
  padding: 40px 60px;
  margin-top: 40px;
}

.left-side-header {
  /* Временно для сетки */
  min-height: 170px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
}

.right-side-header {
  /* Временно для сетки */
  min-height: 170px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header-logo {
  width: 164px;
  height: 60px;

  margin-bottom: 20px;
}

.header-search {
  margin: 0;
  padding: 0;

  list-style: none;

  /* Временно для сетки */
  min-height: 36px;
  display: flex;
}

.catalog-nav {
  margin: 0;
  padding: 0;

  list-style: none;

  /* Временно для сетки */
  min-height: 36px;
}

.site-nav {
  margin: 0;
  padding: 0;

  list-style: none;

  /* Временно для сетки */
  min-height: 36px;
  display: flex;
  justify-content: space-between;
}

.user-block {
  margin: 0;
  padding: 0;

  list-style: none;

  /* Временно для сетки */
  min-height: 36px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.user-navigation-li {
  list-style: none;

  /* Временно для сетки */
  min-width: 110px;
}

.user-navigation-li:first-child {
  margin-right: 155px;
}

.site-navigation-li:last-child {
  margin-left: 90px;
}

.site-navigation-li {
  min-width: 130px;
  margin-right: 10px;
}

.slider-inner-photo {
  display: flex;
  min-height: 500px;
}

.slider-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px; 
  width: 500px;
}

.slider {
  margin-bottom: 70px;
  padding: 0px 60px;
}

.number-slide {
  align-self: flex-end;
}

.slider-slides {
  width: 600px;
}

table {
  min-height: 100px;
}

.popular {
  min-height: 260px;
  margin-bottom: 70px;
}

.popular-item {
  display: flex;
  justify-content: space-between;
}

.services-slider {
  display: flex;
  margin-bottom: 70px;
}

.services-slider-controls {
  min-width: 185px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
}

.btn {
  min-height: 40px;
  margin-bottom: 25px;
}

.slide-delivery {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.brands {
  min-height: 230px;
  margin-bottom: 50px;
}

.brands-list {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 50px;
}

.brands-item {
  min-height: 80px;
  min-width: 265px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 75px;
}

.about-us,
.contacts {
  min-height: 580px;
}

.about-us {
  max-width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts {
  max-width: 590px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-footer {
  padding: 60px 0px;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
}


.footer-left,
.footer-center,
.footer-right {
  min-height: 200px;
}

.footer-left {
  margin: 0;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-center {
  margin: 0;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-services {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.footer-services-item {
  width: 140px;
}

.footer-social {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.footer-right {
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-block {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.user-block-item {
  width: 100px;
  margin-right: 15px;
}

.tel,
.copyright-logo {
  align-self: flex-end;
}