@font-face {
  font-family: 'Gilroy';
  src: url('fonts/gilroylight.woff2') format('woff2'),
  url('fonts/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/gilroyextrabold.woff2') format('woff2'),
  url('fonts/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #464646;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.slide-header,
.info-header,
.page-title {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 47px;
  color: #000000;
  line-height: 47px;
  letter-spacing: 0.45px;

  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}


/*Header*/

.main-header {
  min-width: 1160px;
}

.main-header .container {
  background-color: #f7e296;
}

.catalog-nav,
.site-nav {
  text-transform: uppercase;
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 3.8px;
  line-height: 22px;
}

.catalog-nav,
.site-nav,
.catalog-nav-sub-menu,
.user-block {
  list-style: none;
}

.main-header .header-logo:hover,
.main-header a:hover {
  opacity: 0.6;
}

.main-header .header-logo:active,
.main-header a:active,
{
  opacity: 0.3;
}

.login:hover::before,
.compare:hover::before,
.cart:hover::before {
  opacity: 0.6;
}

.login:active::before,
.compare:active::before,
.cart:active::before {
  opacity: 0.3;
}

.catalog-nav-sub-menu {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  background-color: inherit;
  text-transform: none;
  letter-spacing: initial;
}

.search-form {
  position: relative;
  width: 440px;
  height: 49px;
  line-height: 36px;
}

.search-form input[type=search] {
  font: inherit;
  width: 315px;
  min-height: 49px;
  padding-left: 40px;
  background-color: #f7e296;
  border: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  opacity: 0.3;
}

button.search-form-btn {
  font: inherit;
  display: none;
  width: 85px;
  min-height: 49px;
  margin-left: -4px;
  background-color: #f7e296;
  border: 2px solid #000;
  outline: none;
  cursor: pointer;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 3px;
  width: 18px;
  height: 18px;
  background: url("../img/search.svg") no-repeat 0 0;
}

.search-form input[type=search]:hover {
  opacity: 0.6;
}

.search-form input[type=search]:focus {
  border-bottom: 2px solid #000;
  outline: none;
  opacity: 1;
}

.search-form input[type=search]:active {
  border-bottom: 2px solid #000;
  outline: none;
  opacity: 1;
}

button.search-form-btn:hover {
  color: #ffffff;
  background-color: #000;
  border: 2px solid #000;
  outline: none;
  cursor: pointer;
}

button.search-form-btn:active {
  color: #ffffff;
  background-color: #000;
  border: 2px solid #000;
  outline: none;
  cursor: pointer;
  opacity: 0.3;
}

.search-form input[type=search]:focus~button.search-form-btn {
  display: inline-block;
}



/*user and nav menu*/

.user-block .login,
.user-block .user-link {
  position: relative;
  padding-left: 27px;
}


.user-block .compare,
.user-block .cart {
  position: relative;
  padding-left: 22px;
}

.login::before,
.user-link::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 0px;
  width: 13px;
  height: 13px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.compare::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 0px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 0px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart {
  margin-left: 40px;
}

.catalog-link {
  position: relative;
}

.catalog-link::after {
  content: "+";
  position: absolute;
  top: 9px;
  left: 220px;
  padding-left: 10px;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  opacity: 0.3;
}

.catalog-nav .catalog-link:hover {
  cursor: pointer;
}

.catalog-nav-sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 640px;
  margin: 15px 0;
}

.catalog-nav-sub-menu {
  display: none;
}

.catalog-nav:hover .catalog-nav-sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;

  margin: 0px;
  padding: 0px;
  margin: 0 0 0 -60px;
  padding-left: 60px;
  padding-right: 460px;
  padding-bottom: 35px;

  position: absolute;
  width: 100%;
  background-color: #f7e296;
  z-index: 2;
}

.catalog-nav a,
.site-nav a {
  display: block;
  padding: 14px 0px;
}

.catalog-nav-sub-menu a {
  padding: 0px;
}

.catalog-nav-sub-menu li {
  margin: 0px;
  padding: 0px;

  padding: 7px 0;
}

.catalog-nav-sub-menu li {
  -ms-flex-preferred-size: 160px;
      flex-basis: 160px;
  margin-right: 40px;
}

.catalog-nav-sub-menu li:nth-child(3n+1) {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  margin-right: 40px;
}

.catalog-nav-sub-menu li:last-child {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}


/* slider */

.slide-header {
  position: relative;
  padding-top: 40px;

  font-size: 47px;
  line-height: 56px;
}

.slide-header::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: #fff;
}

.number-slide {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 179.2px;
  line-height: 179.2px;
  letter-spacing: 3px;
  color: #ffffff;

  position: absolute;
  top: -15px;
  left: 328px;
}

.slider-header::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  top: -42px;
  left: 0;
  background-color: #fff;
}

.slide-desc {
  margin: 0px;
  padding: 0px;

  margin: 20px 0px;
}

.slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin-top: 40px;
  margin-bottom: 48px;
}

.slider-controls label {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 18px;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 0 0 1px #000;
          box-shadow: 0 0 0 1px #000;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}

.slide-features-value {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  letter-spacing: 0.4px;
}

.slide-features-type {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #464646;
  letter-spacing: 0.1px;
}

.slider-inner-photo {
  display: none;
}

#slide-1:checked~.slide-1,
#slide-2:checked~.slide-2,
#slide-3:checked~.slide-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#slide-1:checked~.slider-inner-photo .slider-controls label[for='slide-1'],
#slide-2:checked~.slider-inner-photo .slider-controls label[for='slide-2'],
#slide-3:checked~.slider-inner-photo .slider-controls label[for='slide-3'] {
  -webkit-box-shadow: 0 0 0 1px #000, inset 0 0 0 1px #000;
          box-shadow: 0 0 0 1px #000, inset 0 0 0 1px #000;
}

.slider-wr {
  width: 1160px;
  margin: 0 auto;
}

.slider-inner-photo .slider-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  background: -webkit-gradient(linear, left top, left bottom, color-stop(23%, #f7e296), color-stop(23%, #ffffff));

  background: -webkit-linear-gradient(top, #f7e296 23%, #ffffff 23%);

  background: -o-linear-gradient(top, #f7e296 23%, #ffffff 23%);

  background: linear-gradient(180deg, #f7e296 23%, #ffffff 23%);

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  padding: 0px 60px 0px 0px;
}

.slider {
  margin-bottom: 103px;
}

.slider-inner-photo {
  min-height: 490px;
}

.slider-info {
  width: 500px;
  position: relative;
  padding-top: 40px;
}

.slider-slides {
  width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-features tbody {
  margin: 0px;
  padding: 0px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 500px;
}

td.slide-features-type {
  padding-top: 5px;
}

.slide-features-value tr {
  margin: 0px;
  padding: 0px;
}

.slide-features td {
  margin: 0px;
  padding: 0px;

  padding-bottom: 5px;
  width: 460px;
  -ms-flex-preferred-size: 157px;
      flex-basis: 157px;
}

.slide-features td:nth-child(2) {
  -ms-flex-preferred-size: 140px;
      flex-basis: 140px;
}

.slide-features td:last-child {
  padding-right: 0;
}

.slide-features tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}


/* popular */

.popular-item {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 20px;
  color: #000;
}

.pop {
  position: relative;
  display: block;
  width: 160px;
  padding-top: 195px;
}

.pop::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
  background-color: #f7e296;
  z-index: 0;
}

.pop::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;

  z-index: 10;
}

.pop:active::before {
  background-color: #f0c52e;
}

.pop:hover::after {
  background-color: #f0c52e;
}

.pop:active::before {
  opacity: 0.6;
}

.pop1::before {
  background: url("../img/popular-1.svg") no-repeat 50% 50%;
  background-size: 97px 55px;
}

.pop2::before {
  background: url("../img/popular-2.svg") no-repeat 50% 100%;
  background-size: 86px 117px;
}

.pop3::before {
  background: url("../img/popular-3.svg") no-repeat 50% 50%;
  background-size: 71px 87px;
}

.pop4::before {
  background: url("../img/popular-4.svg") no-repeat 50% 50%;
  background-size: 107px 65px;
}

.pop5::before {
  background: url("../img/popular-5.svg") no-repeat 50% 50%;
  background-size: 56px 98px;
}

.pop6::before {
  background: url("../img/popular-6.svg") no-repeat 50% 50%;
  background-size: 132px 69px;
}


/* services */

.services-slider {
  width: 100%;
  min-width: 1160px;
  min-height: 288px;
  background-image: -webkit-linear-gradient(top, transparent 100px, rgba(229, 229, 229, 1) 100px);
  background-image: -o-linear-gradient(top, transparent 100px, rgba(229, 229, 229, 1) 100px);
  background-image: linear-gradient(to bottom, transparent 100px, rgba(229, 229, 229, 1) 100px);
  margin-bottom: 43px;
}

.slide-delivery {
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 560px 47px;
}

.slide-warranty {
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 560px 17px;
}

.slide-credit {
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 560px 20px;
}

.brands-list {
  list-style: none;
}

.about-us li {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.services-slider .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-slider-info p {
  width: 460px;
}

.services-slider-controls {
  border-right: 7px solid rgba(0, 0, 0, 1);

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 284px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  padding-top: 80px;
  padding-bottom: 47px;
  margin-bottom: 68px;
}

.services-slider .serv-btn-wr {
  width: 160px;
  margin-bottom: 24px;
}

.btn-serv::before,
.btn-serv:focus::before {
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 280px;
  height: 100%;
  background: #000;
}

.services-slider-info {
  width: 760px;
}

.services-slider-info .slide-header {
  margin-bottom: 26px;
  padding-top: 30px;
  margin-top: 39px;
}

.serv-slide {
  min-height: 220px;
}

.serv-slide {
  display: none;
}

#delivery-slide:checked~.services-slider-info .slide-delivery,
#warranty-slide:checked~.services-slider-info .slide-warranty,
#credit-slide:checked~.services-slider-info .slide-credit {
  display: block;
}

#delivery-slide:checked~.services-slider-controls .serv-btn-wr label[for='delivery-slide'],
#warranty-slide:checked~.services-slider-controls .serv-btn-wr label[for='warranty-slide'],
#credit-slide:checked~.services-slider-controls .serv-btn-wr label[for='credit-slide'] {
  color: #f7e184;
}

#delivery-slide:checked~.services-slider-controls .serv-btn-wr label[for='delivery-slide']::before,
#warranty-slide:checked~.services-slider-controls .serv-btn-wr label[for='warranty-slide']::before,
#credit-slide:checked~.services-slider-controls .serv-btn-wr label[for='credit-slide']::before {
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 280px;
  height: 100%;
  background: #000;
}


/* catalog page*/

.breadcrumbs {
  margin: 0px;
  padding: 0px;

  list-style: none;

  margin: 0 0 39px 60px;
}

.breadcrumbs li,
.breadcrumbs a {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.3);
  display: inline-block;
}

.breadcrumb-item {
  padding-right: 15px;
  margin-right: 15px;
  position: relative;
}

.breadcrumb-item a::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 0;
  display: block;
  width: 4px;
  height: 4px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.3;
}



/* filters */

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.filter-form ul {
  list-style: none;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  color: #000000;

  margin: 0px;
  padding: 0px;
}


/* upper filter block */

.sort-items-title,
.filters-title,
.pagination-item {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 3.9px;
  color: #000000;

  padding-top: 12px;
  padding-bottom: 13px;
}


/* items catalog */

.catalog-item a {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

span.catalog-item {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
}


/*pagination*/

.pagination-list {
  background-color: #eeeeee;
  list-style: none;
}

.pagination-item-active a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-active a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item-active a:active {
  color: #000000;
}



/* footer */

.main-footer,
.main-footer a {
  background-color: #464646;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  letter-spacing: 0px;
}

.footer-services a {
  text-transform: uppercase;
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 3.6px;
  line-height: 22px;
}

.main-footer ul {
  list-style: none;
}

.main-footer .footer-logo:hover,
.main-footer .copyright-logo:hover {
  opacity: 0.8;
}

.main-footer .footer-logo:active,
.main-footer .copyright-logo:active {
  opacity: 0.6;
}

.address::after {
  content: "";
  position: absolute;
  top: 104px;
  left: 0px;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.footer-social-link-fb {
  background-image: url(../img/fb.svg);
  background-repeat: no-repeat;
}

.footer-social-link-insta {
  background-image: url(../img/insta.svg);
  background-repeat: no-repeat;
}

.footer-social-link-tw {
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
}

.footer-user-block .footer-login {
  position: relative;
  padding-left: 27px;
}

.footer-user-block .footer-compare,
.footer-user-block .footer-cart {
  position: relative;
  padding-left: 22px;
}

.footer-login::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  width: 13px;
  height: 13px;
  background-image: url("../img/footer-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-compare::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0px;
  width: 10px;
  height: 10px;
  background-image: url("../img/footer-compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-cart::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  width: 12px;
  height: 12px;
  background-image: url("../img/footer-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}



/*pop up*/

.write-us {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #464646;
}

.write-us label {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #000;
  display: block;
  margin-bottom: 13px;
}

.write-us input,
.write-us textarea {
  background-color: #f2f2f2;
  border: none;
  outline: none;
  padding-left: 19px;
}

.write-us input {
  width: 360px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.write-us textarea {
  width: 760px;
  height: 156px;
  padding-top: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.write-us input:hover,
.write-us textarea:hover {
  background-color: #ebebeb;
}

.write-us input:focus,
.write-us textarea:focus {
  background-color: #ffffff;
  border: 3px solid #f7e296;
  color: #000000;
}

.write-us input:invalid,
.write-us textarea:invalid {
  background-color: #f6dada;
  border: none;
  color: #464646;
}

.pop-up {
  width: 960px;
}

.write-us-popup {
  display: none;
  position: absolute;
  top: 50vh;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  -webkit-box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
          box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
  background-color: #ffffff;
  padding: 97px 100px 80px 100px;
  z-index: 3;
}

.write-us p {
  display: inline-block;
}

.write-us p:nth-child(2) {
  float: right;
}

.close-btn {
  display: block;
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  border: none;
  background: none;
  background-image: url('../img/modal-close.svg');
  opacity: 0.5;
  cursor: pointer;
  font-size: 0;
}

.close-btn:hover {
  opacity: 1;
}

.close-btn:active {
  opacity: 0.3;
}

.map-popup {
  display: none;
  position: absolute;
  top: 42px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 960px;
  height: 559px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
          box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

.pop-up .popup-btn-wr {
  width: 200px;
}


/*grid*/

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header .container {
  height: 186px;
  margin-top: 40px;
  padding: 50px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left-side-header {
  margin-top: -20px;
  width: 500px;
}

.right-side-header {
  margin-top: -15px;
  width: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.user-block-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}



.user-block a {
  display: block;
  padding: 6px 0px;
  line-height: 36px;
}

.header-logo {
  width: 164px;
  height: 60px;
  position: absolute;
  top: -20px;
}

.search-form {
  list-style: none;

  /* Временно для сетки */
  min-height: 49px;

  margin-bottom: 20px;
}

.catalog-nav {
  margin: 0px;
  padding: 0px;

  list-style: none;

  width: 250px;
}

.site-nav {
  margin: 0px;
  padding: 0px;

  list-style: none;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  /* Временно для сетки */
  min-height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-block {
  margin: 0px;
  padding: 0px;

  list-style: none;

  /* Временно для сетки */
  min-height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 222px;

  margin-bottom: 15px;
}

.compare {
  margin-left: auto;
}

.site-navigation-li {
  min-width: 120px;
}

.site-nav li:first-child {
  margin-right: 35px;
}

.site-nav li:last-child {
  margin-left: auto;
}


/* popular */

.popular {
  margin-bottom: 87px;
}

.popular-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}


/* buttons and links*/

.btn {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  position: relative;
  z-index: 0;
  display: block;
  width: 100%;
  padding: 5% 0;
  cursor: pointer;
  -webkit-transition: color 100ms;
  -o-transition: color 100ms;
  transition: color 100ms;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #000000;
  border: 0;
  background-color: transparent;
  background: 0 0;
}

.btn::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 42%;
  left: 0;
  width: 100%;
  height: 14%;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  background-color: #f0c52e;
}

.slider-nav .link-wr {
  width: 220px;
}


/*.btn span {
  position: relative;
}*/

.btn:hover::before,
.btn:focus::before {
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.btn:active {
  color: #be9c22;
}

.btn:focus {
  outline: none;
}


/* brands */

.brands {
  margin-bottom: 45px;
}

.brands-list {
  margin: 0;
  padding: 0;

  list-style: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
  min-height: 200px;
  padding-right: 4px;
}

.brands-item {
  width: 260px;
}

.brands-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  opacity: 0.2;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.brands-item img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}


/* inform block */

.info {
  margin-bottom: 77px;
}

.info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us,
.contacts {
  width: 560px;
  position: relative;
  padding-top: 53px;
}

.about-us h2,
.contacts h2 {
  margin-bottom: 45px;
}

.about-us::before,
.contacts::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000;
}

.about-us p,
.contacts p {
  margin-bottom: 30px;
}

.contacts p {
  margin-bottom: 40px;
}

.contacts p:last-of-type {
  margin-bottom: 52px;
}

.about-us ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  padding: 35px 0px 48px;
}

.about-us li {
  padding-left: 35px;
  position: relative;
}

.about-us li:before {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  width: 4px;
  height: 4px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.info .link-wr {
  width: 260px;
}



/*footers grid*/

.main-footer {
  width: 100%;
  min-width: 1160px;

  background-color: #464646;
}

.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 67px 0px 61px;
}

.footer-right {
  width: 330px;
}

.footer-center {
  margin: 0;
  padding: 0;
  width: 440px;
}

.footer-left {
  width: 360px;
}

.address {
  margin: 0px;
  padding: 0px;

  margin-top: 20px;
  padding-bottom: 80px;

  position: relative;
}

.footer-services {
  margin: 0px;
  padding: 0px;


  list-style: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;

  margin-top: 70px;
  margin-bottom: 65px;
}

.footer-services-item {
  min-width: 120px;
  margin-right: 30px;
}

.footer-services-item:first-child {
  margin-right: 39px;
}

.footer-services .footer-services-item:hover,
.tel:hover {
  opacity: 0.6;
}

.footer-services .footer-services-item:active,
.tel:active {
  opacity: 0.3;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social .footer-social-item {
  margin-right: 15px;
  width: 40px;
  height: 0;
  overflow: hidden;
  padding-top: 38px;
  opacity: 0.3;
}

.footer-social .footer-social-item:hover {
  opacity: 0.6;
}

.footer-social .footer-social-item:active,
{
  opacity: 0.1;
}

.footer-login,
.footer-compare,
.footer-cart {
  opacity: 0.7;
}

.footer-login:hover,
.footer-login:hover::before,
.footer-compare:hover,
.footer-compare:hover::before,
.footer-cart:hover,
.footer-cart:hover::before {
  opacity: 1;
}

.footer-login:active,
.footer-login:active::before,
.footer-compare:active,
.footer-compare:active::before,
.footer-cart:active,
.footer-cart:active::before {
  opacity: 0.4;
}

.footer-social .footer-social-itemn:last-child {
  margin-right: 0;
}

.footer-user-block a {
  line-height: 24px;
}

.footer-user-item {
  margin-left: 43px;
}

.footer-user-block {
  margin: 0px;
  padding: 0px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 40px;
}

.tel {
  display: inline;
  text-align: right;
  margin-bottom: 63px;
}

.copyright-logo {
  float: right;
  background: url("../img/logo-html.svg") no-repeat 0 0;
}

.footer-right .copyright-logo {
  width: 26px;
  height: 0;
  overflow: hidden;
  padding-top: 38px;
  opacity: 0.3;
}

.footer-center a,
.footer-right a {
  display: block;
}



/*catalog grid*/

.page-title {
  margin: 0;
  padding: 0;
  min-height: 50px;
  margin-left: 60px;
  margin-top: 37px;
  margin-bottom: 15px;
}

.inner-page-bg {
  position: relative;
}

.inner-page-bg::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  background-image: -webkit-linear-gradient(top, #dbdbdb 70px, #eee 70px);
  background-image: -o-linear-gradient(top, #dbdbdb 70px, #eee 70px);
  background-image: linear-gradient(to bottom, #dbdbdb 70px, #eee 70px);
  background-repeat: no-repeat;
}

.inner-page-bg::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  background-image: -webkit-linear-gradient(top, #eee 70px, #fff 70px);
  background-image: -o-linear-gradient(top, #eee 70px, #fff 70px);
  background-image: linear-gradient(to bottom, #eee 70px, #fff 70px);
}

.filters h2 {
  margin-bottom: 82px;
}

.catalog-columns {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.filters {
  width: 200px;
  padding-left: 60px;
  padding-right: 70px;
  background-image: -webkit-linear-gradient(top, #dbdbdb 70px, #eee 70px);
  background-image: -o-linear-gradient(top, #dbdbdb 70px, #eee 70px);
  background-image: linear-gradient(to bottom, #dbdbdb 70px, #eee 70px);
}

.filters fieldset {
  padding: 0;
  margin-bottom: 30px;
  border: 0;
}

.filter-form legend {
  width: 100%;
  margin-bottom: 15px;
  padding-top: 10px;
  /*font: 800 18px 'Gilroy', 'Helvetica', sans-serif;*/
  letter-spacing: 0.18px;
  border-top: 2px solid #000000;
  position: relative;
}

.filter-price {
  min-height: 110px;
}

.range-controls {
  position: relative;
  width: 200px;
  height: 40px;
  margin-top: 35px;
}

.scale {
  margin-top: 12px;
  height: 2px;
  background: #dbdbdb;
}

.bar {
  height: 2px;
  background-color: #91c92f;
  width: 110px;
}

.min-toggle {
  left: -6px;
}

.toggle {
  position: absolute;
  top: -9px;
  min-width: 50px;
  height: 45px;
  cursor: pointer;
}

.toggle label {
  display: block;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  background: #dbdbdb;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .35);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .35);
}

.toggle input,
.toggle span {
  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22.27px;
  color: rgba(0, 0, 0, .2);
}

.toggle input {
  width: 40px;
  height: 15px;
  border: 0;
  background-color: transparent;
}

.toggle-max {
  left: 85px;
}

.toggle-max label {
  margin: 0 auto;
}

.filters label {
  font-size: 14px;
  line-height: 40px;
}

.filter-color {
  min-height: 255px;
}

.color-list ul {
  margin: 18px 0 0;
}

.filter-option-color,
.filter-option-bluetooth {
  position: relative;
  padding-left: 37px;
}

.filter-option-color label::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -3px;
  display: block;
  width: 19px;
  height: 19px;
  border: 2px solid #000;
  border-radius: 3px;
}

.filter-option-color label::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 2px;
  display: none;
  width: 17px;
  height: 8px;
  border-left: 4px solid #000;
  border-bottom: 4px solid #000;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-box-shadow: 0 3px 1px -1px #fff, inset 0 -3px 1px -1px #fff;
          box-shadow: 0 3px 1px -1px #fff, inset 0 -3px 1px -1px #fff;
}

.filter-input-checkbox:checked~label::after {
  display: block;
}

.filter-bluetooth {
  min-height: 122px;
}

.bluetooth-list {
  padding: 0;
  margin: 18px 0 0;
  list-style: none;
}

.filter-option-color label,
.filter-option-color label::after,
.filter-option-bluetooth label,
.filter-option-bluetooth label::before {
  font-size: 14px;
  font-weight: 300;
  font-family: "Open Sans", "Helvetica", sans-serif;
  line-height: 40px;
  letter-spacing: 0.14px;
  cursor: pointer;
}

.filter-input-checkbox:active:checked~label::after,
.filter-input-checkbox:active~label::after,
.filter-input-radio:active:checked~label::before,
.filter-input-radio:active~label::before {
  opacity: 1;
}

.filter-input-checkbox:focus:checked~label::after,
.filter-input-checkbox:focus~label::after,
.filter-input-checkbox:hover:checked~label::after,
.filter-input-checkbox:hover~label::after,
.filter-input-radio:focus:checked~label::before,
.filter-input-radio:focus~label::before,
.filter-input-radio:hover:checked~label::before,
.filter-input-radio:hover~label::before {
  opacity: 0.6;
}

.filter-input-radio:checked~label::before {
  -webkit-box-shadow: inset 0 0 0 4px #fff;
          box-shadow: inset 0 0 0 4px #fff;
  opacity: 1;
}

.filter-option-bluetooth label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -3px;
  display: block;
  width: 18px;
  height: 18px;
  background-color: #000;
  border: 4px solid #000;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 10px #fff;
          box-shadow: inset 0 0 0 10px #fff;
}

.catalog-column {
  width: 760px;
  padding-left: 70px;

  background-image: -webkit-linear-gradient(top, #eee 70px, #fff 70px);

  background-image: -o-linear-gradient(top, #eee 70px, #fff 70px);

  background-image: linear-gradient(to bottom, #eee 70px, #fff 70px);
}

.sort-field {
  height: 68px;
  margin-bottom: 70px;
}

.sort-field .sort-items-title {
  width: 202px;
}

.sort-by-list,
.sort-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort-by-list {
  margin: 0px;
  padding: 0px;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
  width: 518px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-by-item {
  margin-right: 29px;
}

.sort-by-item a {
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", "Helvetica", sans-serif;
  line-height: 18px;
  color: rgba(0, 0, 0, .3);
}

.sort-by-item a:hover {
  color: rgba(0, 0, 0, .7);
}

.sort-by-item a:active,
.sort-by-item.sort-by-item-current a {
  color: #000;
}

.sort-order-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-order-link {
  font-size: 0;
  line-height: 18px;
  opacity: 0.3;
}

.sort-order-item.sort-order-item-current .sort-order-link,
.sort-order-link:active {
  opacity: 1;
}

.sort-order-link:focus,
.sort-order-link:hover {
  opacity: 0.6;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-item figure {
  margin: 0px;
  padding: 0px;
}

.catalog-item {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 360px;
  min-height: 460px;
  margin-bottom: 45px;
  position: relative;
}

.catalog-item-price {
  max-width: 100px;
  margin-left: auto;

  font-family: 'Gilroy', 'Helvetica', sans-serif;
  font-weight: 300;
  line-height: 20px;
}

.catalog-item:nth-of-type(2) a {
  word-spacing: 25px;
}

.catalog-item a {
  width: 260px;
  margin: 0;
  letter-spacing: 0.18px;
}

.catalog-item figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 34px 0 0;
}

.btn-in-compare {
  margin: 0 auto;
  font-size: 13px;
  font-weight: 300;
  font-family: "Open Sans", "Helvetica", sans-serif;
  line-height: 36px;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, .5);
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn-in-compare:hover {
  color: rgba(0, 0, 0, 1);
}

.catalog-list .catalog-btn-wr {
  width: 200px;
}

.catalog-item-hover {
  position: absolute;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 360px;
  height: 380px;
  margin: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: rgba(238, 238, 238, .7);
  background-size: 360px 380px;
  -webkit-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}

.catalog-item-hover,
.catalog-item-hover button {
  -webkit-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
  opacity: 0;
}

.catalog-item-hover:hover button,
.catalog-item-hover:hover,
.catalog-item-hover:focus {
  opacity: 1;
}

.catalog-item-new::after {
  font-family: 'Gilroy','Helvetica',sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 60px;
  position: absolute;
  top: 27px;
  right: 26px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60px;
  height: 60px;
  content: 'New';
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  opacity: 0.2;
  color: #000;
  border: 2px solid #000;
  border-radius: 50%;
}

/*pagination*/ 

.pagination-list {
  padding: 0;
  margin: 0;
  margin-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.pagination-list li {
  padding: 25px 14px;
}

.pagination-item a {
  font-size: 16px;
  -webkit-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
  text-decoration: none;
  opacity: 0.3;
}

.pagination-item:first-child {
  margin-right: auto;
  padding: 25px 25px 25px 31px;
}

.pagination-item:last-child {
  margin-left: auto;
  padding: 25px 25px 25px 31px;
}

.pagination-item:first-child a,
.pagination-item:last-child a {
  color: #000;
  opacity: 1;
}

.pagination-item:active:first-child a,
.pagination-item:active:last-child a {
  opacity: 0.3;
}

.pagination-item:hover:first-child,
.pagination-item:hover:last-child {
  background-color: #d9d9d9;
}

input[type='checkbox']:focus~label::before {
  border-color: rgba(95, 95, 95, 1);
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.map-popup iframe {
  width: 960px;
  height: 559px; 
  border: 0;
}